{% extends 'base.html' %}

{% block nav %}
    <nav id="menu" class="nav navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><span class="love">&hearts;</span></a>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>
        <!-- <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav nav">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </div> -->
    </nav>
{% endblock %}


{% block contents %}
<section class="registry">
    <p class="lead">
        Explain the different nature of our registry here and how to pledge your gifts.
    </p>
    {% for activity in activities %}
        <div class="row">
            <h3 class="text-left">
                <a href="{{ activity.link }}">{{ activity.name }}</a>
                <br/>
                <small>{{ activity.blurb }}</small>
            </h3>
            <div>
                <div class="col-xs-6 smaller">
                    <small>
                        <strong>{{ activity.remaining_units }}</strong>
                        remain at
                        <strong>${{ activity.unit_price|floatformat:2 }}</strong>
                    </small>
                </div>
                <div class="col-xs-6 styled-select">
                    <select class="form-control">
                        <option>Number to gift:</option>
                        <optgroup>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>All!</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}