{% extends 'base.html' %}

{% block nav %}
    <nav id="menu" class="nav navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><span class="love"><i class="fa fa-heart"></i></span></a>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>
        <!-- <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav nav">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </div> -->
    </nav>
{% endblock %}


{% block contents %}
<section class="registry">
    <h2>Registry</h2>
    <p>
        When the weather turns cool for us in the Northern hemisphere, we will be packing our bags for the land(s) down under.  We will spend a few days sight-seeing in Sydney before beginning a bicycle tour of the south island of New Zealand.  We will begin our trip in Christchurch, take a train to the western coast, then pedal our way through beaches, rainforest, and glaciers before ending our journey in Queensland. We hope that you'll find an activity on our trip that you would like to pledge to support.
    </p>
    <form class="row" method="post" action="{% url 'registry:pledge' %}">
        {% csrf_token %}
        {% for activity in activities %}
        <div class="col-lg-offset-4">
            <input type="hidden" name="activity_id_{{ forloop.counter }}" value="{{ activity.id }}" />
            <div class="form-group">
                <h3 class="text-left">
                    <a href="{{ activity.link }}">{{ activity.name }}</a>
                </h3>
                <div class="smaller text-left">
                    <small class="smaller">{{ activity.blurb }}</small>
                </div>
                <div class="row">
                    <div class="col-xs-7 smaller col-lg-3">
                        <strong>{{ activity.remaining_units }}</strong>
                        remain at
                        <strong>${{ activity.unit_price|floatformat:2 }}</strong>
                    </div>
                    <div class="col-xs-5 col-lg-1 styled-select">
                        <select class="form-control" name="amount_{{ forloop.counter }}">
                            <option value="">Number:</option>
                            <optgroup>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>All!</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <button class="btn btn-lg btn-primary">Pledge</button>
    </form>
</section>
{% endblock %}