{% extends 'base.html' %}

{% block nav %}
    <nav id="menu" class="nav navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><span class="love"><i class="fa fa-heart"></i></span></a>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'registry:main' %}">Registry</a>
        </div>
    </nav>
{% endblock %}


{% block contents %}
<section class="registry">
	<h2>Pledge Summary</h2>
	{% if pledges %}
	<form action="{% url 'registry:commit' %}" method="post">
		{% csrf_token %}
		<input type="hidden" id="commit_type" name="commit_type" value="" />
		<div class="row">
			<p>
				If you would like to adjust your pledge, please <a href="{% url 'registry:main' %}">go back to the registry</a>.
			</p>
			<ul class="text-left col-xs-offset-2 col-lg-offset-5">
			{% for pledge in pledges %}
				{% if pledge.1 > 0 %}
				<li>
					<b>{{ pledge.1 }}</b>&times; {{ pledge.0.name }} for ${{ pledge.2|floatformat:2 }}
				</li>
				{% endif %}
			{% endfor %}
			</ul>
			<p>
				You pledged {{ pledges|length }} activit{{ pledges|length|pluralize:"y,ies" }} for a total of ${{ grand_total|floatformat:2 }}. Thank you!
			</p>
		</div>
		<div class="row">
			<p>Commit your support via:</p>
			<div class="ib border-right smaller">
				<button id="wallet" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-google smaller"></i> Google Wallet</button>
				<br/>
				<small class="smaller">(<a target="_blank" href="https://www.google.com/wallet/send-money/">learn more</a>)</small>
			</div>
			<div class="ib smaller">
				<button id="paypal" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-credit-card smaller"></i> PayPal</button>
				<br/>
				<small class="smaller">(<a target="_blank" href="https://www.paypal.com/webapps/mpp/send-money-online">learn more</a>)</small>
			</div>
			<p>Both Paypal and Google Wallet will ask for an email address to send payment. Please use <strong>chryso@gmail.com</strong></p>
			<h3><i class="fa fa-envelope"></i> Or via mail:</h3>
			<address class="smaller">
				353 NE Boulevard<br/>
				Gainesville, FL 32601
			</address>
			<button id="mail" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-send smaller"></i> USPS Mail</button>
		</div>
	</form>
	{% else %}
		<p>I'm sorry, we were unable to record any pledges for you.</p>
	{% endif %}
</section>
{% endblock %}

{% block extrascripts %}
	<script>
		$(document).ready(function () {
			$('#wallet').click(function () {
				$('#commit_type').val('wallet');
			});

			$('#paypal').click(function () {
				$('#commit_type').val('paypal');
				var url = 'https://www.paypal.com/us/sendmoney?amount_ccode=USD&amount=' + {{ grand_total|floatformat:2 }} + '&email=chryso@gmail.com';
				window.open(url);
			});

			$('#mail').click(function () {
				$('#commit_type').val('mail');
			});
		});
	</script>
{% endblock %}

