{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
    <nav id="menu" class="nav navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home"><span class="love"><i class="fa fa-heart"></i></span></a>
            <a class="navbar-brand" href="#ceremony">Ceremony</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav nav">
                <li><a href="#other_events">Other Events</a></li>
                <li><a href="#sightseeing">Sight-seeing</a></li>
                <li><a href="#lodging">Lodging</a></li>
                <li><a href="#dining">Dining</a></li>
                <li><a href="#transportation">Transportation</a></li>
                <li><a href="#carpooling">Carpooling</a></li>
                <li><a href="#roomshare">Room Sharing</a></li>
                <li><a href="#rsvp">RSVP</a></li>
                <li><a href="#registry">Registry</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contents %}
<section id="intro">
                <div class="col-xs-12 col-lg-12">
                    <p><strong>Andy</strong>and <strong>Sarah</strong></p>
                    <p>are getting hitched</p>
                    <p><strong>8.31.14</strong></p>
                    <p>at Cottonwood</p>
                    <p>in West Addison, VT</p>
                </div>
                <div class="col-lg-6 col-lg-offset-3 clearfix">
                    <a href="{% static "i/f2t.jpg" %}" class="thumbnail">
                        <img data-original="{% static "i/f2t.jpg" %}" data-src="{% static "i/f2t.jpg" %}" alt="Sarah and Andy at Shelburne Farms" />
                        <small>Andy and Sarah at the Swallowtail farm-to-table dinner.</small>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 col-xs-12" style="font-family:Arial,sans-serif;font-size:60%;">
                    <p>Click on the menu items above to skip to a particular section or just keep scrolling!</p>
                </div>
            </section>
            <section id="ceremony">
                <h2>Ceremony</h2>
                <div class="text-left row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>
                            Late afternoon ceremony with dinner and dancing to follow. Comfortable attire is recommended as the ceremony and reception are outside on the Cottonwood lawn.
                        </p>
                    </div>
                </div>
            </section>
            <section id="other_events">
                <h2>Other Events</h2>
                <div class="text-left row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>Saturday</h3>
                        <p>
                            <strong>11:00 AM</strong> Join us for a late morning hike up
                            <a href="http://www.vtfishandwildlife.com/library/maps/Wildlife%20Management%20Areas/Essex%20District/Snake%20Mountain%20WMA.pdf">Snake Mountain</a>.
                            We like to pack sandwiches (and maybe one of the great local microbrews!) to enjoy at the top with a view overlooking the Champlain Valley.
                            We generally use the western-most trail entrance (there is a tiny parking lot just down the road to the North so carpool if you can).
                            Please view the map below for info on parking, trail, and sandwich shop suggestions.
                        </p>

                        <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zfW0kk3OVnOE.kDUfhuPdgZHQ" class="embedded-map"></iframe>

                        <p>
                            <strong>6:30 PM</strong> We want to welcome all of our traveling guests with a Wisconsin-style brat fry!
                            Make your way down to Cottonwood to enjoy an afternoon of lawn games and lake time while we serve up brats
                            from Andy's hometown alongside kebabs, tabouli, and salads.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <a href="{% static "i/image_5.jpeg" %}" class="thumbnail">
                            <img data-original="{% static "i/image_5.jpeg" %}" data-src="{% static "i/image_5.jpeg" %}" alt="Sarah and Andy at Snake Mountain" />
                            <small>On top of Snake Mountain</small>
                        </a>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <a href="{% static "i/image_3.jpeg" %}" class="thumbnail">
                            <img data-original="{% static "i/image_3.jpeg" %}" data-src="{% static "i/image_3.jpeg" %}" alt="Sarah and Andy at Snake Mountain" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <a href="{% static "i/image_1.jpeg" %}" class="thumbnail">
                            <img data-original="{% static "i/image_1.jpeg" %}" data-src="{% static "i/image_1.jpeg" %}" alt="Sarah and Andy at Snake Mountain" />
                        </a>
                    </div>
                </div>
            </section>
            <section id="sightseeing">
                <h2>Sight-seeing</h2>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>Adventure abounds in Vermont!  If you are looking to supplement your visit, we recommend some of the following activities:</p>
                    <h3>Hiking</h3>
                    <p>Vermont and Wisconsin share a lot of similarities, but Vermont has mountains! There is a <a href="http://www.champlainareatrails.com/">list of trails</a> in the area with varying degrees of difficulty, and they have a <a href="http://www.champlainareatrails.com/wp-content/uploads/2013/10/Summer_Guide.pdf">great set of trail recommendations</a> based on your interests.</p>
                    <h3>Bicycling</h3>
                    <p>We are in the midst of several scenic bicycling routes. Cottonwood, the reception venue, is located directly adjacent to the Crown Point bridge across Lake Champlain between Vermont and New York. For lots of helpful tips and route suggestions in the area, please see <a href="http://www.champlainbikeways.org/index.htm">Lake Champlain Bikeways</a>.</p>
                    <h3>Cheese!</h3>
                    <p>There is on-going debate over the best cheese-producing state (Vermont or Wisconsin). If you would like to test out some of Vermont's finest, there is the <a href="http://www.vtcheese.com/cheesetrail.htm">VT Cheese Trail</a>, which might take a few days, or you can visit a few local favorites:</p>
                    <ul class="col-lg-11 col-lg-offset-1 col-xs-offset-1 col-xs-11 text-left list-unstyled">
                        <li>
                            <a href="http://middleburycoop.com/coop/index.php">The Middlebury Natural Foods Co-op</a> sources local, artisan cheeses from around the state and is a favorite one-stop shop.
                        </li>
                        <li>
                            <a href="http://www.dakinfarm.com/">Dakin Farm:</a> Cheeses, cured meats and always tons of samples early in the day.  Make it a stop on a drive from Burlington. They usually have coupons for discounts on admission to Shelburne Farms.
                        </li>
                        <li>
                            <a href="http://www.shelburnefarms.org/">Shelburne Farm:</a> A great way to spend a day or half day with kids and adults of all ages. This is a working farm open for educational purposes with award-winning cheddar cheese and grounds designed by Frederick Law Olmsted. Visiting the childrens farm, walking the many trails on the property, or taking a wagon ride to the inn for a stroll in the lakeside gardens are all highly recommended!
                        </li>
                    </ul>
                    <h3>Microbreweries</h3>
                    <p>
                        Ottercreek and Wolaver's Organic Ales are co-located in Middlebury. The tasting room also offers delicious sandwiches.
                        To find Ottercreek and any of the area's other fine breweries, see:
                        <a href="http://www.vermontbrewers.com/membermap/">The Vermont Brewers Map</a>.
                    </p>
                    <h3>Vineyards</h3>
                    <p>
                        We have stopped at Shelburne Vineyard near Shelburne Farm and Shelburne Museum. They offer mostly sweeter whites. If you are interested in exploring other vineyards, check out <a href="http://www.vtgrapeandwinecouncil.com/assets/passports/2013-Passport-Map-and-Directory.pdf">this map</a>.
                    </p>
                    <h3>Farms and Fruit Picking</h3>
                    <p>
                        Some of Sarah's fondest memories of Vermont include afternoons spent fruit and berry picking. The available harvest over Labor Day weekend differs from year to year so it is always best to consult the farms listed under Addison County on <a href="http://www.pickyourown.org/VT.htm">Pick Your Own</a>. We have had excellent experiences in the past at Champlain Orchards, Douglas Orchards, and Norris Berry Farm (with tons of fresh veggies, too!)
                    </p>
                    <h3>Meat</h3>
                    <p>
                        If you will be staying somewhere where you are able to prepare carnivorous meals for yourself, there are "honor system" meat lockers in the area that are also fun to explore.  We have visited <a href="https://www.google.com/maps/preview#!q=1026+Sheep+Farm+Rd%2C+Weybridge%2C+VT+05753">Duclos and Thompson Farm</a>.
                    </p>
                    <h3>Golf</h3>
                    <p>
                        Sarah's family enjoys early morning golf at <a href="http://www.basinharbor.com/explore/golf-packages/">Basin Harbor Club</a>.
                    </p>
                    <h3><a href="http://www.vtstateparks.com/htm/swimming.htm">Swimming</a></h3>
                    <p>
                        There are several state parks in our vicinity with swimming opportunities.
                        Even at its warmest, Lake Champlain can be a little chilly for southerners.
                        <abbr title="Daughters of the American Revolution">D.A.R.</abbr> State Park, Button Bay State Park, and Kingsland Bay State Park are all recommended.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6 col-lg-offset-3">
                    <a href="{% static "i/shelburne.jpg" %}" class="thumbnail">
                        <img data-original="{% static "i/shelburne.jpg" %}" data-src="{% static "i/shelburne.jpg" %}" alt="Sarah and Andy at Shelburne Farms" />
                        <small>At Shelburne Farms</small>
                    </a>
                </div>
            </section>
            <section id="lodging">
                <h2>Lodging near Cottonwood</h2>
                <p class="col-xs-12">
                    The map shows camping, bed and breakfast, and hotel options near the ceremony. Other places to look include
                    <a href="http://goo.gl/1BdTgY">Airbnb</a> or
                    <a href="http://www.vrbo.com/vacation-rentals/usa/vermont/lake-champlain/addison">VRBO</a>.
                </p>
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zfW0kk3OVnOE.kI7go6FPbv64" class="embedded-map"></iframe>
                </div>
            </section>
            <section id="dining">
                <h2>Dining</h2>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h3>Bakeries and Tasty Treats</h3>
                    <ul class="col-lg-11 col-lg-offset-1 col-xs-12 text-left list-unstyled">
                        <li>
                            <a href="https://goo.gl/maps/ol01d">Gunnison Orchards</a>
                            Apples, apple cider donuts, fudge, cookies, and pies. The maple walnut cookies are a must!
                            <span style="white-space:nowrap;"><i class="fa fa-phone-square"></i> (518) 597-3363</span>
                        </li>
                        <li>
                            <a href="http://www.ottercreekbakery.com/home.php">Otter Creek Bakery</a>
                            A European-style bakery in Middlebury that offers espresso, breads, pastries, cookies, soups, salads, and sandwiches.
                        </li>
                        <li>
                            <a href="https://www.facebook.com/pages/Vergennes-Laundry/126565040696907">Vergennes Laundry</a>
                            A bakery and bistro in Vergennes offering croissants, pastries, sandwiches, salads, soups, and espresso. They will be closed for the month of September so be sure to fit in a visit before Monday!
                        </li>
                    </ul>
                    <h3>Fine Dining</h3>
                    <ul class="col-lg-11 col-lg-offset-1 col-xs-12 text-left list-unstyled">
                        <li>
                            <a href="http://blacksheepbistrovt.com/">Black Sheep Bistro</a>
                            The name is an allusion to the patio seating available. French-inspired cuisine with a focus on local ingredients. Always a local favorite, but does require reservations.
                        </li>
                        <li>
                            <a href="http://www.innatbaldwincreek.com/marys/">Mary's at the Inn at Baldwin Creek</a>
                            A well-established VT tradition. They serve dishes for the season and source from their own farm, or those nearby. Reservations recommended.
                        </li>
                        <li>
                            <a href="http://www.tourterellevt.com/">Tourterelle</a>
                            French fusion cuisine, known for their crepes at brunch, but dinner is also highly recommended. Make reservations.
                        </li>
                    </ul>
                </div>
                <p class="col-lg-11 col-lg-offset-1 col-xs-12"><a href="https://mapsengine.google.com/map/edit?mid=zfW0kk3OVnOE.kDUfhuPdgZHQ">Casual lunch recommendations</a>.</p>
            </section>
            <section id="transportation">
                <h2>Getting Here</h2>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h3>Air</h3>
                    <p>
                        The closest airport is in Burlington (BTV) at about 45 minutes - 1 hour away.  Delta, JetBlue, United, and US Air all fly here.
                    </p>
                    <p>
                        We also consistently use Albany, NY (ALB), which is about 2 hours away, though traffic problems and winding mountain roads
                        can sometimes lead to travel time up to 3 hours. Southwest offers direct flights from Orlando. Other airlines servicing the
                        airport are Air Canada, Cape Air, Delta, United, and US Air.
                    </p>
                    <h3>Train</h3>
                    <p>
                       There is a train station directly across Lake Champlain (and easily accessible via the Crown Point bridge) in Port Henry, NY.
                       Amtrak's Adirondack line services POH from New York's Penn Station or Montreal. The train has free wi-fi and follows Lake Champlain
                       and the Hudson River along its whole length, making for a beautiful ride. Andy and I have used this 6-hour service and highly recommend it!
                    </p>
                    <h3>Bus</h3>
                    <p>
                        Middlebury and VT Transit <a href="http://actr-vt.org/">offer service</a> between Middlebury and Burlington and the airport for a very reasonable rate
                        of $2 one-way via bus 116 or $4 one-way via CCTA Burlington LINK Monday through Friday. Alternatively, you can use
                        <a href="https://goo.gl/maps/VgGLr">Google Maps public transit option</a>.
                    </p>
                    <p>
                        We also encourage <a href="#carpooling">carpooling or ride sharing</a> with other guests and would be happy to help facilitate those
                        arrangements if you are interested.
                    </p>
                </div>
            </section>
            <section id="carpooling">
                <h2>Carpooling</h2>
                <p>Coming soon!</p>
            </section>
            <section id="roomshare">
                <h2>Coordinate Sharing Rooms</h2>
                <div class="text-left row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>If you are interested in sharing a room and need help coordinating, feel free to <a href="mailto:farmeriemartin@gmail.com">contact us!</a></p>
                    </div>
                </div>
            </section>
            <section id="rsvp">
                <h2>RSVP</h2>
                {% include 'main/rsvp.html' %}
            </section>
            <section id="registry">
                <h2>Registry</h2>
                {% include 'main/registry.html' %}
            </section>
            <section id="theend">
                <h2>The end...?</h2>
            </section>
            <section id="begin">
                <h2>Or just the beginning! <span class="love"><i class="fa fa-heart"></i></span></h2>
            </section>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        var rsvp_ajax_url = '{% url "rsvp_ajax" %}';
        var rsvp_submit_ajax_url = '{% url "rsvp_submit_ajax" %}';
    </script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endblock %}
